/* 
    ============================================================================
        Take of content
    ===========================================================================
    1.Genneral
    2.ontop
    3.load
    4.header
    5.section
    6.section-1
    7.section-2
    8.section-3
    9.section-4
    10.section-5
    11.footer
 */


  /* 
    ===========================================================================
        1.Genneral
    ===========================================================================
  
 */


@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import "./Responsive.scss";
@import url('https://fonts.googleapis.com/css?family=Cardo&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cardo', serif;
    transition: 0.5s;
  
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none !important;
    color: #f0f0f0;
}
ul{
    list-style: none !important;
}
@mixin logo {
    a{
        font-size: 15px;
        border-radius: 3px;
        padding: 5px 10px;
        display: inline-block;
        border: 1px solid $color-violet;
        position: relative;
        color:  #f0f0f0;
        font-family: "Montserrat", sans-serif;

        &::after{
            font-family: 'FontAwesome';
            content: "\f004";
            position: absolute;
            font-size: 14px;
            bottom: -12px;
            left: 0;
            right: 0;
            width: 100%;
            text-align: center;
            color: $color-violet;   
        }
        span{
            padding: 0 5px;
           font-weight: bold;
            font-size: 17px;
        }
    }
}
@mixin container {
    max-width: 1140px;
    margin: 0 auto;
}
@mixin title {
    border-bottom: 3px solid rgba(97, 45, 127, 0.2);
    h3{
        color: #68555e;
        font-family: "Dancing Script", sans-serif;
        font-size: 30px;
        text-align: center;
    }
    p{
        font-family: "Montserrat", sans-serif;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 11px;
        margin: 3px 0 10px 0;
    }
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
$color-violet:#612d7f;
$color-brown: #68555e;
$color-p:#5d5b5b;
$font-family-title:'Dancing Script', cursive;

/* 
    ===========================================================================
        2.ontop
    ===========================================================================
  
 */
.ontop {
  position: fixed;
  z-index: 99;
  bottom: 15px;
  right: 50px;
  width: 45px;
  height: 45px;
  background-color: #fff;
  border: 1px solid $color-violet;
  border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    &.hienra{
        opacity: 1;
        visibility: visible;
    }
  a{
      font-size: 30px;
      text-align: center;
      display: inline-block;
      color: #612d7f;
      width: 100%;
    i{
        margin: 0;
    }
  }
}

/* 
    ===========================================================================
        3.load
    ===========================================================================
  
 */
.load{
    position: fixed;
    background-color: #b6b3b3;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-violet;
    font-size: 50px;
    transition: 0.5s ease-in-out;
    pointer-events: none;
    &.loading{
        opacity: 0;
    }
     i{
        animation: big 2s linear infinite;
        @keyframes big {
            15% {
                transform: scale(1.4);
                transform-origin: center;
            }

            30% {
                transform: scale(0.9);
                transform-origin: center;
            }

            45% {
                transform: scale(1.4);
                transform-origin: center;
            }

            100%,
            60% {
                transform: scale(0.9);
                transform-origin: center;
            }
        }
     }
    
}

/* 
    ===========================================================================
        4.header
    ===========================================================================
  
 */
.header{
    background-image: url(../image/image31.jpg);
    width: 100%;
    height: 90vh;
    background-color: rgba(97, 45, 127, 0.2);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed !important;
    background-position: 50% 0 !important;
    position: relative;
    background-blend-mode: multiply;
    overflow: hidden;
    &::after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        border-left: 49.1vw solid #F3F3F3;
        border-right: 50vw solid #F3F3F3;
        border-top: 60px solid transparent;
   
        width: 100%;
    }
    .header__nav{
        height: 70px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.25);
        background: rgba(29, 29, 29, 0.1);
        width: 100%;
        align-items: center;
        &.fixed{
            background-color: #fff;
            position: fixed;
            top: 0;
            width: 100%;
            animation: todown 0.5s;
            z-index: 99;
            @keyframes todown {
                from{ transform: translateY(-100px);}
                to{transform: translateY(0px);}
            }
            div.nav__logo{
                a{
                    color: black;
                    border: 1px solid $color-violet;
                }
            }
            ul.nav__list{
                .nav__item a{ color: black !important;}
            }
        }
        .nav__container{
            @include container();
            display: flex;
            width: 100%;
           .nav__logo{
            font-weight: 300;
            font-family: "Montserrat", sans-serif;
            @include logo();
            
           }
           ul.nav__list{
                margin: 0;
                li.nav__item{
                    position: relative;
                    &:hover   .nav__sub{
                        opacity: 1;
                        top: 47px;

                    }
                    a{
                        font-size: 10px;
                        text-transform: uppercase;
                        letter-spacing: 2px;
                        font-family: "Montserrat", sans-serif;
                        padding: 10px 10px;
                        font-weight: 500;  
                        color:  #f0f0f0;
                    }
                    .nav__sub{
                        position: absolute;
                        top: 65px;
                        width: 220px;
                        background-color: #fff;
                       border-bottom-left-radius: 2px;
                       border-bottom-right-radius: 3px;
                       opacity: 0;
                       transition: 0.4s;
                       pointer-events: none;
                        li a{
                            color:black;
                            padding: 10px 20px;
                            display:block;
                            text-transform: uppercase;
                        }
    
                    }
                } 
           }
           .bar{
               color:#f0f0f0;
               padding: 5px 12px;
               border-radius: 5px;
               background-color: $color-violet;
               display: none;
           }
        }
    }
    .header__text{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
        .text__container{
          color: #fff;
            h1{ text-align: center;
                font-family: $font-family-title;
                font-size: 48px;
                font-weight: 700;}
            p{ text-align: center;
                color: #eee;
                font-family: "Montserrat", sans-serif;
                font-size: 20px;
                text-transform: uppercase;
                font-weight: bold;
                letter-spacing: 2px;}
            
            .text__p{
                display: flex;
                justify-content: center;
                .text__date{
                    color: #fff;
                    padding: 8px 20px;
                    font-family: "Montserrat", sans-serif;
                    font-size: 13px;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
                    border-top: 1px solid rgba(255, 255, 255, 0.25);
                    position: relative;
                   
                    &::before{
                        content: " ";
                        width: 60px;
                        height: 1px;
                        display: inline-block;
                        position: absolute;
                        top: -1px;
                        left: 31px;
                        right: 0;
                        background-color: $color-violet;
                        text-align: center;
                        
                    }
                    &::after{
                        font-family: 'FontAwesome';
                        content: "\f004";
                        position: absolute;
                        font-size: 14px;
                        bottom: -12px;
                        left: 0;
                        right: 0;
                        width: 100%;
                        text-align: center;
                        color: $color-violet;
                    }
                    p{
                        margin: 0;
                        font-weight: normal;
                        font-size: 13px;
                       
                    }
                }
            }  
        }
    }
    .toggle{
        position: fixed;
        top: 50%;
        left: 0;
        z-index: 99;
        .icon__toggle{
            padding:15px 10px;
            background-color: #fff;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
            i{
                animation: quay 1s linear infinite;
                @keyframes quay {
                    from{ transform: rotate(0);}
                    to{ transform: rotate(360deg);}
                }
            }
        }
    }
}

/* 
    ===========================================================================
        5.section
    ===========================================================================
  
 */
.section{
    background-color: #F3F3F3;
    padding-bottom: 50px;
    .section__container{
        @include container();
        .section__box{
            display: flex;
            justify-content: space-between;
            padding-top: 80px ;
            .box__img{
                max-width: 48%;
                flex-basis: 48%;
                img{
                    width: 100%;
                }
            }
            .box__text{
                max-width: 48%;
                flex-basis: 48%;
                h4{
                    font-family: "Dancing Script", sans-serif;
                    font-size: 30px;
                    color: $color-brown;
                    font-weight: 400;
                }
                p{
                    color: #5d5b5b;
                    font-size: 16px;
                    span{
                        display: block;
                        float: left;
                        font-size: 44px;
                        padding: 0;
                        margin: 0;
                        margin: 0px 8px 0 0;
                        text-transform: uppercase;
                        line-height: 1;
                        color: $color-violet;
                        font-family: "Dancing Script", sans-serif;
                    }
                }
            }
        }
    }
}


/* 
    ===========================================================================
        6.section-1
    ===========================================================================
  
 */
.section-1{
    background-image: url(../image/image25.jpg);
    height: 400px;
    background-repeat: no-repeat;
    background-position: 50% 0 ;
    background-size: cover;
    background-attachment: fixed;
    .section-1__container{
        @include container();
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        .section-1__box{
            width: 80%;
            .section-1__box__text{
                text-align: center;
            
                h3{
                    margin: 0;
                    color: #f0f0f0;
                    font-size: 40px;
                    font-weight: 500;
                    font-family: $font-family-title;
                }
            }
            div.section-1__box__countdown{
                display: flex;
                justify-content: space-between;
                margin-top: 50px;
                .countdown{
                    h3{
                        color: #f0f0f0;
                        font-size: 25px;
                        text-align: center;
                    }
                    span{
                        text-align: center;
                        color: #f0f0f0;
                        text-transform: capitalize;
                        font-size: 20px;
                        font-family: "Montserrat", sans-serif;
                    }
                }
               
            }
        }
    }
}

/* 
    ===========================================================================
        7.section-2
    ===========================================================================
  
 */
.section-2{
    background-color: #F3F3F3;
    height: 300px;
    .section-2__container{
        @include container();
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .section-2__top{
            .section-2__box{
             @include title();
            }
        }
    }  
}

/* 
    ===========================================================================
        8.section-3
    ===========================================================================
  
 */
.section-3{
    background-color: rgba(97, 45, 127, 0.2);
    color: #68555e !important;
    padding: 50px 0;
    position: relative;
    overflow: hidden;
    &::after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            border-left: 49.1vw solid #F3F3F3;
            border-right: 50vw solid #F3F3F3;
            border-top: 60px solid transparent;
            width: 100%;
    }
    .section-3__container{
        @include container();
        .section-3__top{
            display: flex;
            justify-content: center;
            padding-bottom: 50px;
            .section-3__box{
             @include title();
             text-align: center;
            }
        }
        .section-3__center{
            .section-3__center__box{
                display: flex;
                justify-content: space-between;
                .section-3__center__item{
                    max-width: 32%;
                    flex-basis: 32%;
                    text-align: center;
                    .section-3__center__img{
                        width: 100%;
                        position: relative;
                        margin-bottom: 30px;
                        img{
                            width: 100%;
                        }
                        .section-3__center__icon{
                            width: 50px;
                            height: 50px;
                            padding: 10px 20px;
                            background-color: $color-violet;
                            position: absolute;
                            bottom: -20px;
                            transform: translate(-50%,0);
                            left: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            i{
                                color: #f0f0f0;
                                font-size: 20px;
                                text-align: center;
                            }
                        }
                    }
                    .section-3__center__title{
                        h6{
                            text-align: center;
                            font-size: 24px;
                            color: #68555e;
                            font-family: $font-family-title;
                        } 
                    }
                    .p-2{
                        margin: 20px 0;
                        font-weight: bold;
                        color: #68555e;
                    }

                }
            }
        }
    }  
}

/* 
    ===========================================================================
        9.section-4
    ===========================================================================
  
 */
.section-4{
    background-color: #F3F3F3;
    padding: 50px 0;
    .section-4__container{
        @include container();
        .section-4__top{
            display: flex;
            justify-content: center;
           .section-4__box{
                @include title();
           } 
        }
        .section-4__center{
            width: 100%;
            margin-top: 40px ;
            .section-4__center__box{
                width: 100%;
                .section-4__center__filter{
                  
                    width: 100%;
                    ul{
                        display: flex;
                        justify-content: center;
                        margin-bottom: 30px;
                        li{
                            margin: 0 5px;
                            padding: 7px 15px ;
                            font-size: 10px;
                            cursor: pointer;
                            letter-spacing: 1px;
                            font-family: "Montserrat", sans-serif;
                            text-transform: uppercase;
                        }
                        li.active{
                            border: 1px solid #612d7f;
                            color: #612d7f;
                            border-radius: 3px;
                        }
                    }
                }
                .section-4__center__item{
                    margin-top: 30px;
                    .section-4__center__item__box{
                        max-width: 100%;
                        display: flex;
                        flex-wrap: wrap;
                        // justify-content: space-between;
                        .item__box{
                            max-width: 25%;
                            flex-basis: 25%;
                            padding: 0 6px;
                            .item__box__img{
                                width: 100%;
                                text-align: center;
                                cursor: pointer;
                                &:hover{
                                    transform: scale(1.1);
                                }
                                img{
                                    width: 80%;
                                    border-radius: 50%;
                                }
                            }
                            .item__box__text{
                                padding: 20px 0;
                                text-align: center;
                                h6{ font-size: 24px; color: $color-brown; font-family: $font-family-title;}
                                p{ font-size: 10px; letter-spacing: 0px; font-family: "Montserrat", sans-serif;}
                            }
                        }
                    }
                }
            }
        }
    }
}

/* 
    ===========================================================================
        10.section-5
    ===========================================================================
  
 */
.section-5{
    background-image: url(../image/image6.jpg) ;
    // background-repeat: no-repeat;
    background-position: 50% 0;
    // background-size: cover;
    width: 100%;
    background-attachment: fixed;
    height: 400px;
    .section-5__container{
        @include container();
        height: 100%;
        .section-5__text{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            .section-5__text__box{
                text-align: center;
                color: #fff;
                h2{font-size: 40px; color: #fff; font-family: $font-family-title; }
                p{ margin-bottom: 30px;}
                a{ 
                    color: #fff;
                    font-size: 15px;
                    padding: 12px 35px;
                    background-color: #612d7f;
                    border: 1px solid #612d7f;
                    border-radius: 5px;
                    &:hover{    background-color: rgba(97, 45, 127, 0.2);
                        color: #fff;}
                }
            }
        }
    }
}

/* 
    ===========================================================================
        11.footer
    ===========================================================================
  
 */
.footer{
    width: 100%;
    background: #1d1d1d;
    border-top: 3px solid #612d7f;
    height: 250px;
    overflow: hidden;
    position: relative;
    &::after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        border-left: 49.1vw solid #F3F3F3;
        border-right: 50vw solid #F3F3F3;
        border-top: 50px solid transparent;
        width: 100%;
    }
    .footer__container{
        @include container();
        height: 100%;
        .footer__item{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            .footer__item__box{
                text-align: center;
                ul {
                    display: flex;
                    li a{
                        color: #b6b3b3;
                        font-size: 12px;
                        font-family: "Montserrat", sans-serif;
                        padding: 0 10px;
                        &:hover{
                            color: #fff;
                        }
                    }
                }
                .footer__item__logo{
                   @include logo();
                }
                p{
                    padding: 20px 0;
                    color: #eee;a{ color: #b6b3b3;}
                }
            }
        }
    }
}